* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */

  --gray: #C0C0C1;
  --white: #FAF3F3;
  --whiteOpac: #FAF3F3E0;
  --blue: #4a93d7;
  --darkblue: #183a59;
  --black: #01161E;
  --blackHover: #01161EAA;
  --backgroundBlack: #21363A; 
  --red: rgb(209, 39, 23);
  --yellow: #f6f668;

  --std: all 0.8s ease-in-out;
}

body {
  height: 100vh;
  background-color: var(--white);

  font-family: Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin: 2% 0;
  font-size: 6rem;
}


#game {
  background-color: var(--blue);
  width: 42rem;
  height: 36rem;
  padding: 1%;
  border: 1rem solid var(--darkblue);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slot {
  width: 4rem;
  max-height: 4rem;
}

.col {
  height: 100%;
  margin: 1%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  cursor: pointer;
  padding: 3px;
}

.col:hover {
  transition: all .2s ease-in-out;
  outline: 2px var(--darkblue) solid;
}

h2 {
  font-size: 5rem;
  margin: 2%;
  -webkit-text-stroke-width: .05rem;
  -webkit-text-stroke-color: var(--backgroundBlack);
}

.red {
  color: var(--red);
  transition: all .2s ease-in-out;
}

.yellow {
  color: var(--yellow);
  transition: all .2s ease-in-out;
}

.newGame {
  background-color: white;
  padding: 1%;
  -webkit-text-stroke-width: 0rem;
  color: var(--blue);
  font-size: 3rem;
  border: 0.5rem solid var(--darkblue);
  border-radius: .8rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.newGame:hover {
  background-color: var(--blue);
  color: var(--darkblue);
}